@model QLXayDungWebMVC.Models.User

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section styles{

}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}

 @using (Html.BeginForm("Edit" + "/" + @Model.ID,"User",FormMethod.Get))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.Name's Detail
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Profile Image -->
            <div class="box box-info">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Content/Users/@Model.Image" alt="User profile picture">
                    <h3 class="profile-username text-center">@Model.Name</h3>
                    <p class="text-muted text-center">@ViewBag.ChucVu</p>
                    <p class="text-muted text-center">Khởi tạo: @Model.NgayTao.ToString("dd/MM/yyyy")</p>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->

            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tên đăng nhập</label>
                                        @*<input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc.">*@
                                        @*@Html.TextBoxFor(model => model.Username, new { @class = "form-control" })   dùng cho MVC 5.0*@
                                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mật khẩu</label>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Raw("<a href='/User/Edit/" + Model.ID + "' title='Edit'> <span class='btn btn-info btn-block pull-right'>Edit</span> </a>")
                                    </div>
                                </div>
                            </div>



                            @*<button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                <div class="clearfix"></div>*@
                        </form>
                    </div>
                    </div>
                </div>
            <!-- /.col -->
        
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
 }