@model QLXayDungWebMVC.Models.User
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    QLXayDungWebMVC.Dapper.CongTrinhRepo congtrinhRP = new QLXayDungWebMVC.Dapper.CongTrinhRepo();
    QLXayDungWebMVC.Dapper.PhongBanRepo phongbanRP = new QLXayDungWebMVC.Dapper.PhongBanRepo();
    QLXayDungWebMVC.Dapper.NhanVienRepo nhanvienRP = new QLXayDungWebMVC.Dapper.NhanVienRepo();
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (Session["Username"] != null)
        {
        <script type="text/javascript">
                $(document).ready(function(){                  
        	    $.notify({
        	        icon: 'glyphicon glyphicon-star',
        	        message: "<b> Tài khoản sử dụng: @Session["Name"] </b>!"
                },{
                    type: 'success',
                    timer: 3000,
                    placement: {
                        from: "bottom",
                        align: "right"
                    },                  
                });
    	    });
        </script>
    }
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@nhanvienRP.GetNhanVien().Count()</h3>
                    <p>Nhân sự</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="~/NhanVien/Index" class="small-box-footer">
                    Xem thêm <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@phongbanRP.GetPhongBan().Count() </h3>
                    <p>Phòng Ban</p>
                </div>
                <div class="icon">
                    <i class="ion ion"></i>
                </div>
                <a href="~/PhongBan/Index" class="small-box-footer">
                    Xem thêm <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@congtrinhRP.GetCongTrinh().Count()</h3>
                    <p>Công Trình</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="~/CongTrinh/Index" class="small-box-footer">
                    Xem thêm <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@congtrinhRP.GetCongTrinh().Count()</h3>
                    <p>Công Trình</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="~/CongTrinh/Index" class="small-box-footer">
                    Xem thêm <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>        
    </div>



</section>
<!-- /.content -->
