@model QLXayDungWebMVC.Models.PhongBan

@{
    ViewBag.Title = "Xóa Phòng Ban";
}

@section PhongBan{
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-hospital-o"></i>
            <span>Phòng Ban</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/PhongBan/Create"><i class="fa fa-circle-o"></i> Thêm phòng ban</a></li>
            <li class="active"><a href="~/PhongBan/Index"><i class="fa fa-circle-o"></i> Danh sách phòng ban</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Chuyển nhân sự</a></li>
        </ul>
    </li>
}


@using (Html.BeginForm("Delete", "PhongBan", FormMethod.Post, new { enctype = "multipart/form-data", id = "popupForm" }))
{
    @Html.AntiForgeryToken()
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Xóa phòng ban @Model.TenPB?
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >X</button>
        </h1>
        @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> DashBoard</a></li>
            <li><a href="#">Phòng Ban</a></li>
            <li class="active">Xóa Phòng Ban</li>
        </ol>*@
    </section>


        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger">
                        <form class="form-horizontal">

                            <div class="box-header with-border">
                                <h3 class="box-title">Thông tin phòng ban</h3>
                            </div>

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tên Phòng Ban</label>
                                            @*<input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc.">*@
                                            @*@Html.TextBoxFor(model => model.Username, new { @class = "form-control" })   dùng cho MVC 5.0*@
                                            @Html.EditorFor(model => model.TenPB, new { htmlAttributes = new { @class = "form-control", disabled = "disable" } })
                                            @Html.ValidationMessageFor(model => model.TenPB, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Trường phòng</label>
                                            @Html.EditorFor(model => model.IdTP, new { htmlAttributes = new { @class = "form-control", disabled = "disable" } })
                                            @Html.ValidationMessageFor(model => model.IdTP, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Điện Thoại</label>
                                            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control", disabled = "disable" } })
                                            @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div><label>Mô tả</label></div>
                                            @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", @rows = 4, disabled = "disable" })
                                            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-danger btn-block" onClick="return confirm('Bạn chắc chắn muốn xóa ?')">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </form>
                    </div>

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </section>
    <!-- /.content -->
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
